body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    padding: 1rem;
    min-height: 100vh;
}

header h1 {
    color: #333;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}